body {
  font: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, .5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  top: 15%;
  background: linear-gradient(to right, red, yellow);
}

h1 {
  font: 600 3.5em 'Raleway', sans-serif;
  color: rgba(0, 0, 0, .5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  width: 100%;
}

h2 {
  margin-top: 3rem;
}

h3 {
  font: 900 1.3em 'Raleway', sans-serif;
  color: rgba(0, 0, 0, .5);
  text-align: center;
  text-transform: none;
  letter-spacing: .01em;
}

div {
  margin-top: 5rem;
}

#rdm-button {
  display: block;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem auto;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(46, 168, 54);
  color: #fff;
  border: none;
}

#rdm-button:hover {
  transform: translateY(1.9px);
}
